# Project exclude paths
*.iml
.DS_Store
.externalNativeBuild
/local.properties
/captures
/.gradle/
/android/build/
/common/build/
/buildSrc/.gradle
/buildSrc/build
/.idea/
/build/
/ios/Pods
/ios/Podfile.lock
/ios/.idea
/builds
/ios/Build/
ios/Build/
ios/commonmodule.xcworkspace/xcuserdata
ios/commonmodule.xcodeproj/xcuserdata
.kotlin